body.dark-sidebar .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper{
    background-color : var(--theme-secondary) !important;
}


body.dark-sidebar .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links li a span{
    color : #fff;
}

.page-wrapper .sidebar-main-title h6{
    color : #fff;
}

.page-wrapper.compact-wrapper .page-body-wrapper .page-body{
    margin-top: 52px !important;
}
.font-size-16{
    margin-top: 52px !important;
}